.carousel-indicators [data-bs-target]{
    background-color: black;
    height: 10px;
    width: 10px;
    margin-left: 10px;
    border: 2px;
    border-radius: 50%;
    position: relative;
}
.carousel-indicators .active{
    width: 70px;
    border-radius: 20px;
}
.carousel-control-next, .carousel-control-prev{
    display: none;
}

