.left-comment{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-comments-card-div{
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 20px rgb(255 255 255 / 10%);
    margin: 10px 20px;
}
#comment-section-img{
    height: 5vh;
    width: 5vw;    
}
.comment-div{
    padding: 20px;
}
.user-details-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}
#avatar-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.name-rating-div{
    padding: 0px 40px;
}
.checked{
    color: orange;
}
.quote-image{
    position: absolute;
    top: -5px;
}
@media screen and (max-width: 1000px) {
    .left-comment{
        width: 80%;
        margin-bottom: 25px;
    }
    .main-comments-card-div{
        width: 60%;
        margin: 0 auto;
    }
    
}
