.why-us{
    background-image: url('../../../assets/images/dots-bg.svg');
    background-repeat: no-repeat;
    margin-top: 100px;
}
.whyusheading{
    max-width: 58%;
}
.whyusheading h2{
    font-weight: 700;
}
.whyusheading p{
    font-size: 15px;
}
.card-item{
    display: flex;
    flex-direction: row;
    width: 70%;;
    border-radius: 10px;
    margin: 30px 0 30px 0;
    box-shadow: 0 0 10px 2px rgb(193, 189, 189);
}
.cards-container :nth-child(even){
    flex-direction: row-reverse;
    
}
.rightcard-item{
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    padding: 50px;
    box-shadow:  -80px 0 90px rgb(255, 255, 255);    
}
.rightcard-item h3{
    font-weight: 700;
}
#cards-item-image{
    width: 275px;
    border-radius: 10px;
    
}
.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}